{% extends 'wix_petshop/base.html' %}
{% block main %}
    <div class="main-wrapper about-us">
        <div class="main">
            <h2 class="main-title">About Us</h2>
            <ul>
                <li>
                    <h3><a href="">We Have Free Templates for Everyone</a></h3>
                    <p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What抯 more, they抮e absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="">Terms of Use</a>. You can even remove all our links if you want to.</p> 
                </li>
                <li>
                    <h3><a href="">We Have More Templates for You</a></h3>
                    <p>Looking for more templates? Just browse through all our Free Website Templates and find what you抮e looking for. But if you don抰 find any website template you can use, you can try our <a href="">Free Web Design</a> service and tell us all about it. Maybe you抮e looking for something different, something special. And we love the challenge of doing something different and something special. </p>
                </li>
                <li>
                    <h3><a href="">Be Part of Our Community</a></h3>
                    <p>If you抮e experiencing issues and concerns about this website template, join the discussion on <a href="">our forum</a> and meet other people in the community who share the same interests with you. </p>
                </li>
                <li>
                <h3><a href="">Template details</a></h3>
                    <p>Version 19<br />Website Template details, discussion and updates for this <a href="">Petshop Template</a>. Website Template design by <a href="">Free Website Templates</a>. Please feel free to remove some or all the text and links of this page and replace it with your own About content. </p>
                </li>
            </ul>
        </div>
        <div class="side">
            <h2 class="main-title">Featured Topic</h2>
            <div class="recommendation">
                <ul>
                    <li>
                        <a href=""><img src="/static/images/wix/petshop/recommendation_1.jpg" alt="" /></a>
                        <div>
                            <h3 class="title">What they need</h3>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum clara m, ant epo suerit li tterar. <a href="">View all</a></p>
                        </div>
                    </li>
                    <li>
                        <a href=""><img src="/static/images/wix/petshop/recommendation_4.jpg" alt="" /></a>
                        <div>
                            <h3 class="title">Fun birds</h3>
                            <p>Mirum est notare quam littera gothica , quam nunc putamus parum claram, anteposuerit. <a href="">View all</a></p>
                        </div>
                    </li>
                    <li class="last">
                        <a href=""><img src="/static/images/wix/petshop/recommendation_2.jpg" alt="" /></a>
                        <div>
                            <h3 class="title">Something good</h3>
                            <p>Gothica, quam nun c putamus parum claram, anteposuerit litterarum formas humani tatis per seacula. <a href="">View all</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-and-shopping">
                <div class="search">
                    <form>
                        <div>
                            <label for="keywords"></label>
                            <input id="keywords" name="keywords" type="text" placeholder="Find" value="" />
                            <input id="submit" type="submit" value="Search" />
                        </div>
                        <input type="radio" id="search-artical" name="search_type" value="articals" />
                        <label for="search-artical">Articals</label>
                        <input class="second" type="radio" id="search-product" name="search_type" value="articals" />
                        <label for="search-product">PetMart Products</label>
                    </form>
                </div>
                <div class="shopping-guide">
                    <div class="label">
                        <h4>Shopping Guides</h4>
                        <h4 class="current">Discounted Items</h4>
                    </div>
                    <div class="content">
                        <ul class="shopping hidden">
                            <li>
                                <p><a href="">Pet Accesories</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Bath Essentials</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Food</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Vitamins</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Needs</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Toy and Treats</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Supplies</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Emergency Kit</a></p>
                                <a href="">see all</a>
                            </li>
                        </ul>
                        <ul class="discount">
                            <li>
                                <p><a href="">Pet Accesories</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Bath Essentials</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Food</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Vitamins</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Needs</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Toy and Treats</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Supplies</a></p>
                                <a href="">see all</a>
                            </li>
                            <li>
                                <p><a href="">Pet Emergency Kit</a></p>
                                <a href="">see all</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
