{% extends 'wix_petshop/base.html' %}
{% block main %}
    <div class="main-wrapper blog">
        <div class="main">
            <ul>
                <li>
                    <div>
                        <span class="date">Nov 12</span>
                        <h3 class="title"><a href="">New Pupps in the Shop</a></h3>
                        <p>Aliquam erat volutpat. ut wisi enim ad veniam, quis nostrud excerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem eum iruire dolor in hendrerit in vulputate vellit essemolestie consequat, velillum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim ui blandit praesent luptatum zzril delenit augue duis dolore te feugiat nulla facilisi. Nam liner tempor cum soluta nobis eleifend option congue nihil imperdiet doming id uod mazim placerat facer posim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etaim procesus dynamicus.</p>
                        <div>
                            <a class="love" href=""></a>
                            <a class="twitter" href=""></a>
                            <a class="facebook" href=""></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="date">Nov 12</span>
                        <h3 class="title"><a href=""> How about let's Celebrate!  </a></h3>
                        <p>Lorem ipsum sot amet, consec teteur adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna. Aliquam erat volutpat. ut wisi enim ad veniam, quis nostrud excerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem eum iruire dolor in hendrerit in vulputate vellit essemolestie consequat, velillum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim ui blandit praesent luptatum zzril delenit augue duis dolore te feugiat nulla facilisi. Nam liner tempor cum soluta nobis eleifend option congue nihil imperdiet doming id uod mazim placerat facer posim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etaim procesus dynamicus.</p>
                        <div>
                            <a class="love" href=""></a>
                            <a class="twitter" href=""></a>
                            <a class="facebook" href=""></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="date">Nov 12</span>
                        <h3 class="title"><a href="">Sport with you Pet's</a></h3>
                        <p>Aliquam erat volutpat. ut wisi enim ad veniam, quis nostrud excerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem eum iruire dolor in hendrerit in vulputate vellit essemolestie consequat, velillum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim ui blandit praesent luptatum zzril delenit augue duis dolore te feugiat nulla facilisi. Nam liner tempor cum soluta nobis eleifend option congue nihil imperdiet doming id uod mazim placerat facer posim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                        <div>
                            <a class="love" href=""></a>
                            <a class="twitter" href=""></a>
                            <a class="facebook" href=""></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="side">
            <div class="archives wrapper">
                <h2 class="main-title">Archives</h2>
                <ul class="year-list">
                    <li class="selected">
                        <p class="year">2015(30)</p>
                        <ul class="month-list">
                            <li>
                                <p><a href="">December</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">November</a> (5)</p>
                            </li>
                            <li>
                                <p><a href="">October</a>(8)</p>
                            </li>
                            <li>
                                <p><a href="">September</a>(10)</p>
                            </li>
                            <li>
                                <p><a href="">August</a>(3)</p>
                            </li>
                            <li>
                                <p><a href="">July</a>(9)</p>
                            </li>
                            <li>
                                <p><a href="">June</a>(10)</p>
                            </li>
                            <li>
                                <p><a href="">May</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">April</a>(8)</p>
                            </li>
                            <li>
                                <p><a href="">March</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">Febuary</a>(5)</p>
                            </li>
                            <li>
                                <p><a href="">January</a>(4)</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="year">2014(30)</p>
                        <ul class="month-list">
                            <li>
                                <p><a href="">December</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">November</a> (5)</p>
                            </li>
                            <li>
                                <p><a href="">October</a>(8)</p>
                            </li>
                            <li>
                                <p><a href="">September</a>(10)</p>
                            </li>
                            <li>
                                <p><a href="">August</a>(3)</p>
                            </li>
                            <li>
                                <p><a href="">July</a>(9)</p>
                            </li>
                            <li>
                                <p><a href="">June</a>(10)</p>
                            </li>
                            <li>
                                <p><a href="">May</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">April</a>(8)</p>
                            </li>
                            <li>
                                <p><a href="">March</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">Febuary</a>(5)</p>
                            </li>
                            <li>
                                <p><a href="">January</a>(4)</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="year">2013(30)</p>
                        <ul class="month-list">
                            <li>
                                <p><a href="">December</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">November</a> (5)</p>
                            </li>
                            <li>
                                <p><a href="">October</a>(8)</p>
                            </li>
                            <li>
                                <p><a href="">September</a>(10)</p>
                            </li>
                            <li>
                                <p><a href="">August</a>(3)</p>
                            </li>
                            <li>
                                <p><a href="">July</a>(9)</p>
                            </li>
                            <li>
                                <p><a href="">June</a>(10)</p>
                            </li>
                            <li>
                                <p><a href="">May</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">April</a>(8)</p>
                            </li>
                            <li>
                                <p><a href="">March</a>(2)</p>
                            </li>
                            <li>
                                <p><a href="">Febuary</a>(5)</p>
                            </li>
                            <li>
                                <p><a href="">January</a>(4)</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
