{% extends 'wix_petshop/base.html' %}
{% block title %}
    <title>Contact Us</title>
{% endblock %}
{% block main %}
    <div class="main-wrapper contact-us">
        <div class="main">
            <h2 class="main-title">Contact us</h2>
            <p>This website template has been designed by <a href="">freewebsitetemplates.com</a> for you, free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for jhelp on the <a href="">freewebsitetemplates.com</a> </p>
            <div class="contact-detail">
                <h3>Customer Sales and Service</h3>
                <p>E-mail: <a href="">freewebsitetemplates.com</a></p>
                <p>Call or e-mail us for help with any aspect of your purchase, online or offline.</p>
                <p>Call toll-free: 877 000 0000</p>
                <p>Call toll-free: 866 000 0000</p>
                <p>Call toll-free: 877 000 0000</p>
                <h3>Store Hours</h3>
                <p>monday to Friday 9:00 am - 7:00 pm EST (GMT -05000)</p>
                <p>Closed Saturday and Sunday</p>
                <h3>Mailing Address</h3>
                <p>Petshop <br />250 Lorem Ipsum Street <br />4th Floor <br />jaonfanr, Caknan 109935 <br/>Kiangab</p>
            </div>
        </div>
        <div class="side follow-us">
            <h2>Follow Us</h2>
            <ul>
                <li> <a class="facebook" href="">Facebook</a> </li>
                <li> <a class="subscribe" href="">Subscribe</a> </li>
                <li> <a class="twitter" href="">Twitter</a> </li>
                <li> <a class="flicker" href="">Flicker</a> </li>
            </ul>
        </div>
    </div>
{% endblock %}
