<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            <title>{{ seo.title }} </title>
        {% endblock %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {% block meta_keywords %}
            <meta name="keywords" content="{{ seo.keywords }}" />
        {% endblock %}
        {% block meta_description %}
            <meta name="description" content="{{ seo.description }}" />
        {% endblock %}
        {% block meta_viewport %}
            <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
        {% endblock %}

        {% load staticfiles %}

        {% block base_css %}
            <link rel="stylesheet" href="{% static "css/blog/base.css" %}" />
        {% endblock %}

        {% block common_css %} {% endblock %}
        {% block page_css %} {% endblock %}
        {% block head_js %} {% endblock %}
        {% block baidu_tongji %}
            {% if not DEBUG %}
                <script>
                    var _hmt = _hmt || [];
                    (function() {
                      var hm = document.createElement("script");
                      hm.src = "//hm.baidu.com/hm.js?4b68ba6e4e44904735db3e0f17734a5d";
                      var s = document.getElementsByTagName("script")[0]; 
                      s.parentNode.insertBefore(hm, s);
                    })();
                </script>
            {% endif %}
        {% endblock baidu_tongji %}
    </head>
    {% block body %}
        <body>
            {% block header %}
                <header class="header">
                    <section class="header-wrapper">
                        <div class="logo fl">
                            <a href="{% url "index" %}">夹克来了</a>
                        </div>
                        <nav class="nav fl">
                            <ul>
                                <li><a class="selected" href="">文章</a></li>
                                <li><a href="">项目</a></li>
                                <li><a href="">笔记</a></li>
                                <li><a href="" class="demo">Demo</a></li>
                                <li><a href="">夹克</a></li>
                            </ul>
                        </nav>
                        <div class="right-shortcut fr">
                            <from class="search">
                                <label for="keywords">搜索</label>
                                <input type="text" id="keywords" name="keywords" placeholder="有求必应">
                            </from>
                            <a class="pull-advice" href="">有话要说</a>
                        </div>
                    </section>
                </header>
            {% endblock %}
            {% block main %} {% endblock %}
            {% block footer %} {% endblock %}
            {% block base_js %} {% endblock %}
            {% block common_js %} {% endblock %}
            {% block page_js %} {% endblock %}
        </body>
    {% endblock %}
</html>
