<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <title>Free Website Templates | Wix.com</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="/static/css/wix/stunning.css" />
    </head>
    <body>
        <div class="header">
            <a class="logo" href="" title="wix.com"><img src="/static/images/wix/stunning/logo.png" alt="wix.com logo"></a>
            {% comment %}
                <form class="search">
                    <input id="keywords" name="keywords" type="text" value="" placeholder="Search Templates" />
                    <input id="submit" type="button" value="submit" />
                    <img class="submit-btn" src='/static/images/wix/stunning/search_btn.png' />
                </form>
            {% endcomment %}
        </div>
        <div class="body">
            <div class="intro">
                <h1>Create Your Stunning Website</h1>
                <p>Wix has 100s of designer-made templates to make you look stunning online.</p>
            </div>
            <div class="categories">
                <div>
                    <h2>Pick Your Template Category</h2>
                    <span class="angle"><strong></strong></span>
                </div>
                <ul class="common-list">
                    <li>
                        <p>Business &amp; Services</p>
                        <p class="see-more"><a href="">See More <small>&gt;&gt;</small></a></p>
                        <a href=""><img src="/static/images/wix/stunning/sample_1.png" /></a>
                    </li>
                    <li>
                        <p>Restaurant &amp; Hospitality</p>
                        <p class="see-more"><a href="">See More <small>&gt;&gt;</small></a></p>
                        <a href=""><img src="/static/images/wix/stunning/sample_2.png" /></a>
                    </li>
                    <li>
                        <p>Music &amp; Entermainment</p>
                        <p class="see-more"><a href="">See More <small>&gt;&gt;</small></a></p>
                        <a href=""><img src="/static/images/wix/stunning/sample_3.png" /></a>
                    </li>
                    <li>
                        <p>Photography</p>
                        <p class="see-more"><a href="">See More <small>&gt;&gt;</small></a></p>
                        <a href=""><img src="/static/images/wix/stunning/sample_4.png" /></a>
                    </li>
                    <li>
                        <p>Creative Arts</p>
                        <p class="see-more"><a href="">See More <small>&gt;&gt;</small></a></p>
                        <a href=""><img src="/static/images/wix/stunning/sample_5.png" /></a>
                    </li>
                    <li>
                        <p>Online Shop</p>
                        <p class="see-more"><a href="">See More <small>&gt;&gt;</small></a></p>
                        <a href=""><img src="/static/images/wix/stunning/sample_6.png" /></a>
                    </li>
                </ul>
                <div class="more">
                    <a class="all-templates-btn" href="" title="all templates">See All Templates</a>
                    <p><a href="" title="sign up">Sign up</a> for free to browse all templates!</p>
                </div>
            </div>
            <div class="features">
                <span class="angle"><strong></strong></span>
                <h2>Enjoy These Amazing Features:</h2>
                <ul class="common-list">
                    <li>
                        <a href=""><img src="/static/images/wix/stunning/feature_1.png" /> </a>
                        <h3>Customize Anything You Want</h3>
                        <p>Your own text, pics, videos, layout, background &amp; more.</p>
                    </li>
                    <li>
                        <a href=""><img src="/static/images/wix/stunning/feature_2.png" /></a> 
                        <h3>Get Online Instantly</h3>
                        <p>Just click Publish to let the world see your website. </p>
                    </li>
                    <li>
                        <a href=""><img src="/static/images/wix/stunning/feature_3.png" /></a> 
                        <h3>Look Great on Mobile Devices</h3>
                        <p>Get an optimized version of your website for smartphones.</p>
                    </li>
                    <li>
                        <a href=""><img src="/static/images/wix/stunning/feature_4.png" /></a>
                        <h3>Make Your Site Google Friendly</h3>
                        <p>So people can find you via Google &amp; other search engines. </p>
                    </li>
                    <li>
                        <a href=""><img src="/static/images/wix/stunning/feature_5.png" /></a>
                        <h3>Top-Grade Hosting</h3>
                        <p>Secure &amp; reliable hosting, included for free.</p>
                    </li>
                    <li>
                    <a href=""><img src="/static/images/wix/stunning/feature_6.png" /></a>
                        <h3>Friendly Support 24/7</h3>
                        <p>Contact our Support Team &amp; get instant answers.  </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="footer-wrapper">
                <a class="policy" href="">Privacy Policy</a>
                <ul class="share">
                    <li><a href="" title="fackbook"><img src="/static/images/wix/stunning/share_1.png" /></a></li>
                    <li><a href="" title="linkedin"><img src="/static/images/wix/stunning/share_2.png" /></a></li>
                    <li><a href="" title="twitter"><img src="/static/images/wix/stunning/share_3.png" /></a></li>
                    <li><a href="" title="google+"><img src="/static/images/wix/stunning/share_4.png" /></a></li>
                    <li><a href="" title="blog"><img src="/static/images/wix/stunning/share_5.png" /></a></li>
                    <li><a href="" title="pinterest"><img src="/static/images/wix/stunning/share_6.png" /></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
