{% extends 'repository/static_page/petshop/base.html' %}
{% block title %}
    <title>Pet Guide</title>
{% endblock %}
{% block page_main %}
    <div class="main-wrapper pet-guide">
        <div class="main">
            <h2 class="main-title">Pet Guide</h2>
            <p>Here are some useful pet quide tips for your pets. Easy and convenient for you to learn more on how to understand them. basic intructions to useful information not just for your pet but also for other animals. </p>
            <div class="guide-detail">
                <ul>
                    <li>
                        <p class="guide-title">Pet Training Guides</p>
                        <p>Donec a purus sit amet risus consectetur lacinia et ut libero. Vestibulum tempus fauscibus sagittis. Ut gravida lacus eget orci bibendum aliuet. A enean adipiscing congue mi a fringilla. Suspendisse placerat arcu ac est pharetra sit amet pretium ante. </p>
                    </li>
                    <li>
                        <p class="guide-title">Make them Behave</p>
                        <p>Ut gravida lacus eget orci bibendum aliuet. A enean adipiscing congue mi a fringilla. Suspendisse placerat arcu ac est pharetra sit amet pretium ante. porta. Duis risus augue, sollicitudin sit amet enim. </p>
                        
                    </li>
                    <li>
                        <p class="guide-title">Pet Training Guides</p>
                        <p>Donec a purus sit amet risus consectetur lacinia et ut libero. Vestibulum tempus fauscibus sagittis. Ut gravida lacus eget orci bibendum aliuet. A enean adipiscing congue mi a fringilla. Suspendisse placerat arcu ac est pharetra sit amet pretium ante. </p>
                    </li>
                    <li>
                        <p class="guide-title">Make them Behave</p>
                        <p>Ut gravida lacus eget orci bibendum aliuet. A enean adipiscing congue mi a fringilla. Suspendisse placerat arcu ac est pharetra sit amet pretium ante. porta. Duis risus augue, sollicitudin sit amet enim. </p>
                        
                    </li>
                    <li>
                        <p class="guide-title">Pet Training Guides</p>
                        <p>Donec a purus sit amet risus consectetur lacinia et ut libero. Vestibulum tempus fauscibus sagittis. Ut gravida lacus eget orci bibendum aliuet. A enean adipiscing congue mi a fringilla. Suspendisse placerat arcu ac est pharetra sit amet pretium ante. </p>
                    </li>
                    <li>
                        <p class="guide-title">Make them Behave</p>
                        <p>Ut gravida lacus eget orci bibendum aliuet. A enean adipiscing congue mi a fringilla. Suspendisse placerat arcu ac est pharetra sit amet pretium ante. porta. Duis risus augue, sollicitudin sit amet enim. </p>
                        
                    </li>
                </ul>
            </div>
        </div>
        <div class="side guide-categories">
            <div class="wrapper">
                <h2>Pet Guide Overview</h2>
                <ul>
                    <li><a href="#">Pet Trainning Guides</a>(1)</li>
                    <li><a href="#">Behavior Trainning</a>(29)</li>
                    <li><a href="#">Pet Recipes</a>(8)</li>
                    <li><a href="#">Do's and Don'ts</a>(7)</li>
                    <li><a href="#">Pet Food</a>(10)</li>
                    <li><a href="#">Cosplay Pets</a>(20)</li>
                    <li><a href="#">Shopping Guides</a>(4)</li>
                    <li><a href="#">Pregnancy and Nursing Pets</a>(29)</li>
                    <li><a href="#">medications</a>(6)</li>
                    <li><a href="#">Excersize</a>(2)</li>
                    <li><a href="#">Diet</a>(9)</li>
                    <li><a href="#">Grooming</a>(9)</li>
                    <li><a href="#">Pet Trainning Guides</a>(1)</li>
                    <li><a href="#">Behavior Trainning</a>(29)</li>
                    <li><a href="#">Pet Recipes</a>(8)</li>
                    <li><a href="#">Do's and Don'ts</a>(7)</li>
                    <li><a href="#">Pet Food</a>(10)</li>
                    <li><a href="#">Cosplay Pets</a>(20)</li>
                    <li><a href="#">Shopping Guides</a>(4)</li>
                    <li><a href="#">Pregnancy and Nursing Pets</a>(29)</li>
                    <li><a href="#">medications</a>(6)</li>
                    <li><a href="#">Excersize</a>(2)</li>
                    <li><a href="#">Diet</a>(9)</li>
                    <li><a href="#">Grooming</a>(9)</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
