{% extends 'repository/static_page/petshop/base.html' %}

{% load staticfiles %}

{% block page_main %}
    <div class="main-wrapper pet-mart">
        <div class="search-wrapper">
            <div class="search">
                <form>
                    <div>
                        <label for="keywords"></label>
                        <input id="keywords" name="keywords" type="text" placeholder="Find" value="" />
                        <input id="submit" type="submit" value="Search" />
                    </div>
                    <input type="radio" id="search-artical" name="search_type" value="articals" />
                    <label for="search-artical">Articals</label>
                    <input class="second" type="radio" id="search-product" name="search_type" value="articals" />
                    <label for="search-product">PetMart Products</label>
                </form>
            </div>
            <span class="cornor left"></span>
            <span class="cornor right"></span>
        </div>
        <div class="main">
            <ul class="main-features">
                <li>
                    <a href="#"><img src="{% static "repository/static_page/petshop/koi2.jpg" %}"></a>
                    <div>
                        <h2 class="main-title">Food Area</h2>
                        <ul>
                            <li> <a href="#">Dog Food</a> </li>
                            <li> <a href="#">Cat Food</a> </li>
                            <li> <a href="#">Bird Food</a> </li>
                            <li> <a href="#">Fish Food</a> </li>
                            <li> <a href="#">Reptile Food</a> </li>
                            <li> <a href="#">Small Pet Food</a> </li>
                            <li> <a href="#">Large Pet Food</a> </li>
                            <li> <a href="#" class="view-all">view all</a> </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="{% static "repository/static_page/petshop/cat3.jpg" %}"></a>
                    <div>
                        <h2 class="main-title">Accesories</h2>
                        <ul>
                            <li> <a href="#">Dog Food</a> </li>
                            <li> <a href="#">Cat Food</a> </li>
                            <li> <a href="#">Bird Food</a> </li>
                            <li> <a href="#">Fish Food</a> </li>
                            <li> <a href="#">Reptile Food</a> </li>
                            <li> <a href="#">Small Pet Food</a> </li>
                            <li> <a href="#">Large Pet Food</a> </li>
                            <li> <a href="#" class="view-all">view all</a> </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="{% static "repository/static_page/petshop/dog2.jpg" %}"></a>
                    <div>
                        <h2 class="main-title">Trainning &amp; Behavior</h2>
                        <ul>
                            <li> <a href="#">Dog Food</a> </li>
                            <li> <a href="#">Cat Food</a> </li>
                            <li> <a href="#">Bird Food</a> </li>
                            <li> <a href="#">Fish Food</a> </li>
                            <li> <a href="#">Reptile Food</a> </li>
                            <li> <a href="#">Small Pet Food</a> </li>
                            <li> <a href="#">Large Pet Food</a> </li>
                            <li> <a href="#" class="view-all">view all</a> </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="{% static "repository/static_page/petshop/bird3.jpg" %}"></a>
                    <div>
                        <h2 class="main-title">health Center</h2>
                        <ul>
                            <li> <a href="#">Dog Food</a> </li>
                            <li> <a href="#">Cat Food</a> </li>
                            <li> <a href="#">Bird Food</a> </li>
                            <li> <a href="#">Fish Food</a> </li>
                            <li> <a href="#">Reptile Food</a> </li>
                            <li> <a href="#">Small Pet Food</a> </li>
                            <li> <a href="#">Large Pet Food</a> </li>
                            <li> <a href="#" class="view-all">view all</a> </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="{% static "repository/static_page/petshop/bird-in-cage.jpg" %}"></a>
                    <div>
                        <h2 class="main-title">Travel Essentials</h2>
                        <ul>
                            <li> <a href="#">Dog Food</a> </li>
                            <li> <a href="#">Cat Food</a> </li>
                            <li> <a href="#">Bird Food</a> </li>
                            <li> <a href="#">Fish Food</a> </li>
                            <li> <a href="#">Reptile Food</a> </li>
                            <li> <a href="#">Small Pet Food</a> </li>
                            <li> <a href="#">Large Pet Food</a> </li>
                            <li> <a href="#" class="view-all">view all</a> </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="{% static "repository/static_page/petshop/puppy3.jpg" %}"></a>
                    <div>
                        <h2 class="main-title">Grooming</h2>
                        <ul>
                            <li> <a href="#">Dog Food</a> </li>
                            <li> <a href="#">Cat Food</a> </li>
                            <li> <a href="#">Bird Food</a> </li>
                            <li> <a href="#">Fish Food</a> </li>
                            <li> <a href="#">Reptile Food</a> </li>
                            <li> <a href="#">Small Pet Food</a> </li>
                            <li> <a href="#">Large Pet Food</a> </li>
                            <li> <a href="#" class="view-all">view all</a> </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="side">
            <a href="#"></a>
        </div>
    </div>
{% endblock %}
