{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    <title>维护人员到站</title>
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" type="text/css" href="{% static "repository/static_page/base.css" %}" />
{% endblock base_css %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static "repository/static_page/depth/main.css" %}" />
{% endblock %}

{% block body %}
    <body>
        {% block main %}
            <div id="svg-content"></div>
            <div class="zoom">
                <button class="zoom-out">-</button>
                <button class="zoom-in">+</button>
            </div>
        {% endblock %}
        {% block page_js %}
            <script src="{% static "/repository/static_page/depth/jquery.min.js" %}"></script>
            <script src="{% static "/repository/static_page/depth/svg.min.js" %}"></script>
            <script src="{% static "/repository/static_page/depth/main.js" %}"></script>
            <script>
                var data = {
                    container: {
                        title: "维护人员到站",
                        x: 60,
                        y: 60,
                        table: {
                            y: 354,
                            paddingRight: 230,
                            tr: [
                                ["维护工程师用户名", "姓名", "区域", "技能类型", "是否空闲"],
                                ["admin001", "周鹏", "西安", "Datacomm-Lan", "否"],
                                ["admin001", "周鹏", "西安", "Datacomm-Lan", "否"],
                                ["admin001", "周鹏", "西安", "Datacomm-Lan", "否"],
                                ["admin001", "周鹏", "西安", "Datacomm-Lan", "否"]
                            ]
                        }
                    }
                };
                var draw = new D("svg-content", 3150, 1772, "#001727");
                if (data.container) {
                    draw.addContainer(draw.container, data.container);
                    if (data.container.table) {
                        draw.addMaintenance(draw.container, data.container.table);
                    }
                    if (data.container.personList) {
                        data.container.personList.forEach(function(person){
                            draw.addPerson(draw.container, person);
                        });
                    }
                }
                draw.render();
            </script>
        {% endblock %}
    </body>
{% endblock %}
